@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: "Playfair Display", serif;
  --font-body: "Montserrat", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Roboto', sans-serif;
  --font-mono: var(--font-geist-mono);
}

html {
  background: #ffffff;
  min-height: 100%;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

body {
  background: #ffffff;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: var(--font-body);
  min-height: 100%;
}
